:root {
  --main-color: #0c0809;
  --accent-color: #FCD89E;
  --circle-size: 80px;
  --font-body: 'Helvetica, sans-serif';

  --bg-color-outside: #A74311; 
  --bg-color-outside-night: #0e0f1b;

  --bg-color-inside: #DB7123; 
  --bg-color-inside-night: #27293f;
}