.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px 0 12px;
}

@media (max-width: 768px) {
    .nav {
        height: auto;
        width: 100%;
    }
}

.nav__arrow {
    position: absolute;
    border-radius: 8px;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.nav__arrow--down {
    bottom: 0;
    transition: margin-bottom 0.3s ease;
}

.nav__arrow--left {
    transform: rotate(90deg);
    left: 0;
    transition: margin-left 0.3s ease;
}

.nav__arrow--right {
    transform: rotate(270deg);
    right: 0;
    transition: margin-right 0.3s ease;
}

.nav__arrow--down:hover {
    margin-bottom: -12px;
}

.nav__arrow--left:hover {
    margin-left: -12px;
}

.nav__arrow--right:hover {
    margin-right: -12px;
}

.nav__arrow-icon {
    width: 64px;
    height: 64px;
    display: block;
}

.nav__label {
    position: absolute;
    margin-bottom: 4px;
}
.nav__label--down {
    bottom: 72px;
}
.nav__label--left {
    left: 72px;
}
.nav__label--right {
    right: 72px;
}


@media (max-width: 1440px) {
    .nav__label {
        font-size: 1.25rem;
    }
    .nav__arrow-icon {
        width: 52px;
        height: 52px;
    }
}