.portfolio__container {
    position: absolute;
    background-color: var(--color-black-opacity);
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 100;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease, z-index 0.3s ease;
    visibility: visible;
}

.portfolio__container--closed {
    /*display: none;*/
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.portfolio__images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    align-items: start;

    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: 5rem auto;
}

.portfolio__images--two-cols {
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .portfolio__images {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .portfolio__images--two-cols {
        grid-template-columns: 1fr;
    }
}

.portfolio__image--wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-grow: 1;
    overflow: hidden;
}

.portfolio__image-label {
    position: absolute;
    color: var(--color-white);
    background-color: var(--color-blue-light);
    padding: 0 4px;
    border-radius: 2px;
    margin-top: -6px;
    margin-left: 8px;
}

.portfolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__image--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.portfolio__image--cover-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.portfolio__arrow--wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    visibility: hidden;
}

.portfolio__arrow--wrapper-visible {
    visibility: visible;
}

.portfolio__arrow {
    position: relative;
    border-radius: 8px;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(180deg);

    transition: margin-top 0.3s ease;
}

.portfolio__arrow:hover {
    margin-top: -12px;
}

.portfolio__arrow-icon {
    width: 64px;
    height: 64px;
    display: block;
}